<!DOCTYPE HTML>

<html>
	<head>
		<title>SpecailProject.io Comment API</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>

	<body>
		<table class="table table-striped table-dark">
			<thead>
				<tr>
					<th scope="col">Date</th>
					<th scope="col">Comment ID</th>
					<th scope="col">Post ID</th>
					<th scope="col">Comment</th>
					<th scope="col">Votes</th>
				</tr>
			</thead>
			<tbody>
				@each(com in posts)
				<tr>
					<!-- <th scope="row"></th> -->
					<td>{{ com.updated_at }}</td>
					<td>{{ com.id }}</td>
					<td>{{ com.Post_ID }}</td>
					<td>{{ com.Comment }}</td>
					<td>{{ com.upvotes - com.downvotes }}</td>

				</tr>
				@endeach

			</tbody>
		</table>
	</body>

</html>
