@layout('layouts.main')

@section('title')
Comment API
@endsection

@section('content')
  <h1>Comments in Database</h1>
  <!-- <ul class='list-group'>
    @each(com in comments)
      <li class='list-group-item'>{{ com.user_id }}: {{ com.comment }}</li>
    @endeach
  </ul> -->

@endsection
