@layout('layouts.main')

@section('title')
Comment API
@endsection

@section('content')
  <h1>Zero Feature Release</h1>
  <h2>Wes Robbins, Spencer Reap, Johnny Egan</h2>
  <body>

  </body>

@endsection
